# THIS IS MARKDOWN CELL

# Data science tools and ecosystem are summarized

# some of the commonly used by data scientists include:

language 1: Python
language 2: R
language 3: Java

# some of the commonly used libraries by data scientist are:
1.pandas
2.Numpy
3.Seaborn

# some of the commonly used data science tools are :

|Data science tools |
|-------------------|
|Jupyternotebook    |  
|-------------------|
|Vs studio          |
|-------------------|
|Rstudio            |
|-------------------|

# Below are a few examples of evaluating arithmetic expressions in Python

In [17]:
print(2+3)
print(3-1)
print(3+4)

5
2
7

# This a simple arithmetic expression to mutiply then add integers.

In [18]:
(3*5)+2

17

#  This will convert 200 minutes to hours by diving by 60.

In [19]:
200/60

3.3333333333333335

# Objectives:

-  tools used by data scientist
-  arithmetic expressions
-  commonly used libraries

In [20]:
def Author():
    Author
    riya